/* Required modern Sass imports */
/* -----------------------------------------
   COLOR VARIABLES
------------------------------------------ */
:root {
  --c-deep-cerise: #FF2C8D;
  --c-deep-cerise-80: #FF509C;
  --c-deep-cerise-60: #FF71AA;
  --c-deep-cerise-40: #FFC3dc;
  --c-deep-cerise-20: #FFE5F3;
  --c-light-coral-x3: #E7100C;
  --c-light-coral-x2: #E5403D;
  --c-light-coral: #F57371;
  --c-light-coral-80: #FFA3A1;
  --c-light-coral-60: #FFD9D9;
  --c-green-sheen: #68ACA3;
  --c-green-sheen-80: #75D9CB;
  --c-green-sheen-60: #4DEAD5;
  --c-green-sheen-40: #7DFFEE;
  --c-green-sheen-20: #BDFFF6;
  --c-purple-tech: #542A71;
  --c-purple-tech-80: #7D4C9F;
  --c-purple-tech-60: #AB7BCC;
  --c-purple-tech-40: #D4ACF0;
  --c-purple-tech-20: #F4E4FF;
  --c-violet-void: #09041B;
  --c-violet-void-80: #1a0d4e;
  --c-violet-void-60: #2c1d70;
  --c-violet-void-40: #644FB9;
  --c-violet-void-20: #C2B2FF;
}

.particle,
.particle-hover {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.particle .particle-spot,
.particle-hover .particle-spot {
  position: absolute;
  border-radius: 100px;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
.particle .particle-spot:nth-of-type(1),
.particle-hover .particle-spot:nth-of-type(1) {
  width: 7px;
  height: 7px;
  background: var(--c-purple-tech);
  top: calc(50% + 76px);
  left: calc(50% + 64px);
  transform-origin: 91px 40px;
  animation: particle-1 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(2),
.particle-hover .particle-spot:nth-of-type(2) {
  width: 6px;
  height: 6px;
  background: var(--c-light-coral-x2);
  top: calc(50% + 100px);
  left: calc(50% + -51px);
  transform-origin: 59px 16px;
  animation: particle-2 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(3),
.particle-hover .particle-spot:nth-of-type(3) {
  width: 6px;
  height: 6px;
  background: var(--c-green-sheen-80);
  top: calc(50% + -44px);
  left: calc(50% + -14px);
  transform-origin: 72px 56px;
  animation: particle-3 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(4),
.particle-hover .particle-spot:nth-of-type(4) {
  width: 6px;
  height: 6px;
  background: var(--c-deep-cerise-60);
  top: calc(50% + 85px);
  left: calc(50% + 27px);
  transform-origin: 79px 36px;
  animation: particle-4 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(5),
.particle-hover .particle-spot:nth-of-type(5) {
  width: 5px;
  height: 5px;
  background: var(--c-deep-cerise-60);
  top: calc(50% + -60px);
  left: calc(50% + 66px);
  transform-origin: 38px 45px;
  animation: particle-5 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(6),
.particle-hover .particle-spot:nth-of-type(6) {
  width: 7px;
  height: 7px;
  background: var(--c-purple-tech-60);
  top: calc(50% + 10px);
  left: calc(50% + 40px);
  transform-origin: 28px 79px;
  animation: particle-6 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(7),
.particle-hover .particle-spot:nth-of-type(7) {
  width: 7px;
  height: 7px;
  background: var(--c-green-sheen-60);
  top: calc(50% + 4px);
  left: calc(50% + 75px);
  transform-origin: 23px 31px;
  animation: particle-7 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(8),
.particle-hover .particle-spot:nth-of-type(8) {
  width: 6px;
  height: 6px;
  background: var(--c-purple-tech-60);
  top: calc(50% + -12px);
  left: calc(50% + 59px);
  transform-origin: 44px 65px;
  animation: particle-8 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(9),
.particle-hover .particle-spot:nth-of-type(9) {
  width: 7px;
  height: 7px;
  background: var(--c-deep-cerise);
  top: calc(50% + 75px);
  left: calc(50% + -20px);
  transform-origin: 84px 78px;
  animation: particle-9 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(10),
.particle-hover .particle-spot:nth-of-type(10) {
  width: 7px;
  height: 7px;
  background: var(--c-deep-cerise);
  top: calc(50% + 71px);
  left: calc(50% + 62px);
  transform-origin: 4px 65px;
  animation: particle-10 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(11),
.particle-hover .particle-spot:nth-of-type(11) {
  width: 7px;
  height: 7px;
  background: var(--c-light-coral-80);
  top: calc(50% + -47px);
  left: calc(50% + 33px);
  transform-origin: 76px 16px;
  animation: particle-11 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(12),
.particle-hover .particle-spot:nth-of-type(12) {
  width: 5px;
  height: 5px;
  background: var(--c-deep-cerise-80);
  top: calc(50% + 86px);
  left: calc(50% + -11px);
  transform-origin: 55px 74px;
  animation: particle-12 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(13),
.particle-hover .particle-spot:nth-of-type(13) {
  width: 7px;
  height: 7px;
  background: var(--c-green-sheen-60);
  top: calc(50% + -54px);
  left: calc(50% + -19px);
  transform-origin: 88px 16px;
  animation: particle-13 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(14),
.particle-hover .particle-spot:nth-of-type(14) {
  width: 6px;
  height: 6px;
  background: var(--c-deep-cerise);
  top: calc(50% + -25px);
  left: calc(50% + 11px);
  transform-origin: 81px 1px;
  animation: particle-14 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(15),
.particle-hover .particle-spot:nth-of-type(15) {
  width: 5px;
  height: 5px;
  background: var(--c-green-sheen-60);
  top: calc(50% + 21px);
  left: calc(50% + 72px);
  transform-origin: 63px 26px;
  animation: particle-15 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(16),
.particle-hover .particle-spot:nth-of-type(16) {
  width: 5px;
  height: 5px;
  background: var(--c-deep-cerise-60);
  top: calc(50% + -61px);
  left: calc(50% + 48px);
  transform-origin: 5px 16px;
  animation: particle-16 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(17),
.particle-hover .particle-spot:nth-of-type(17) {
  width: 5px;
  height: 5px;
  background: var(--c-deep-cerise-40);
  top: calc(50% + 99px);
  left: calc(50% + 63px);
  transform-origin: 53px 60px;
  animation: particle-17 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(18),
.particle-hover .particle-spot:nth-of-type(18) {
  width: 6px;
  height: 6px;
  background: var(--c-purple-tech);
  top: calc(50% + -6px);
  left: calc(50% + -6px);
  transform-origin: 38px 64px;
  animation: particle-18 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(19),
.particle-hover .particle-spot:nth-of-type(19) {
  width: 6px;
  height: 6px;
  background: var(--c-deep-cerise-60);
  top: calc(50% + 74px);
  left: calc(50% + -79px);
  transform-origin: 67px 17px;
  animation: particle-19 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(20),
.particle-hover .particle-spot:nth-of-type(20) {
  width: 7px;
  height: 7px;
  background: var(--c-purple-tech-80);
  top: calc(50% + -56px);
  left: calc(50% + -90px);
  transform-origin: 53px 68px;
  animation: particle-20 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(21),
.particle-hover .particle-spot:nth-of-type(21) {
  width: 7px;
  height: 7px;
  background: var(--c-green-sheen-80);
  top: calc(50% + 48px);
  left: calc(50% + -14px);
  transform-origin: 88px 6px;
  animation: particle-21 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(22),
.particle-hover .particle-spot:nth-of-type(22) {
  width: 6px;
  height: 6px;
  background: var(--c-deep-cerise-80);
  top: calc(50% + 92px);
  left: calc(50% + -90px);
  transform-origin: 38px 93px;
  animation: particle-22 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(23),
.particle-hover .particle-spot:nth-of-type(23) {
  width: 7px;
  height: 7px;
  background: var(--c-light-coral-80);
  top: calc(50% + -26px);
  left: calc(50% + 27px);
  transform-origin: 91px 60px;
  animation: particle-23 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(24),
.particle-hover .particle-spot:nth-of-type(24) {
  width: 7px;
  height: 7px;
  background: var(--c-purple-tech-60);
  top: calc(50% + 91px);
  left: calc(50% + -63px);
  transform-origin: 63px 41px;
  animation: particle-24 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(25),
.particle-hover .particle-spot:nth-of-type(25) {
  width: 7px;
  height: 7px;
  background: var(--c-light-coral-80);
  top: calc(50% + -15px);
  left: calc(50% + 10px);
  transform-origin: 82px 18px;
  animation: particle-25 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(26),
.particle-hover .particle-spot:nth-of-type(26) {
  width: 6px;
  height: 6px;
  background: var(--c-deep-cerise);
  top: calc(50% + -68px);
  left: calc(50% + -25px);
  transform-origin: 69px 93px;
  animation: particle-26 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(27),
.particle-hover .particle-spot:nth-of-type(27) {
  width: 7px;
  height: 7px;
  background: var(--c-purple-tech-40);
  top: calc(50% + -71px);
  left: calc(50% + -28px);
  transform-origin: 91px 6px;
  animation: particle-27 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(28),
.particle-hover .particle-spot:nth-of-type(28) {
  width: 5px;
  height: 5px;
  background: var(--c-green-sheen-80);
  top: calc(50% + -4px);
  left: calc(50% + -83px);
  transform-origin: 14px 71px;
  animation: particle-28 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(29),
.particle-hover .particle-spot:nth-of-type(29) {
  width: 7px;
  height: 7px;
  background: var(--c-purple-tech-80);
  top: calc(50% + 27px);
  left: calc(50% + -48px);
  transform-origin: 64px 40px;
  animation: particle-29 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(30),
.particle-hover .particle-spot:nth-of-type(30) {
  width: 7px;
  height: 7px;
  background: var(--c-deep-cerise-80);
  top: calc(50% + 61px);
  left: calc(50% + -92px);
  transform-origin: 34px 97px;
  animation: particle-30 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(31),
.particle-hover .particle-spot:nth-of-type(31) {
  width: 5px;
  height: 5px;
  background: var(--c-light-coral);
  top: calc(50% + -35px);
  left: calc(50% + -57px);
  transform-origin: 46px 36px;
  animation: particle-31 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(32),
.particle-hover .particle-spot:nth-of-type(32) {
  width: 6px;
  height: 6px;
  background: var(--c-deep-cerise-40);
  top: calc(50% + 33px);
  left: calc(50% + -34px);
  transform-origin: 66px 12px;
  animation: particle-32 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(33),
.particle-hover .particle-spot:nth-of-type(33) {
  width: 6px;
  height: 6px;
  background: var(--c-green-sheen-40);
  top: calc(50% + -70px);
  left: calc(50% + -35px);
  transform-origin: 53px 26px;
  animation: particle-33 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(34),
.particle-hover .particle-spot:nth-of-type(34) {
  width: 5px;
  height: 5px;
  background: var(--c-deep-cerise-80);
  top: calc(50% + -1px);
  left: calc(50% + -65px);
  transform-origin: 35px 37px;
  animation: particle-34 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(35),
.particle-hover .particle-spot:nth-of-type(35) {
  width: 7px;
  height: 7px;
  background: var(--c-purple-tech-60);
  top: calc(50% + -9px);
  left: calc(50% + 75px);
  transform-origin: 13px 7px;
  animation: particle-35 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(36),
.particle-hover .particle-spot:nth-of-type(36) {
  width: 6px;
  height: 6px;
  background: var(--c-light-coral-x2);
  top: calc(50% + 10px);
  left: calc(50% + 51px);
  transform-origin: 21px 56px;
  animation: particle-36 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(37),
.particle-hover .particle-spot:nth-of-type(37) {
  width: 6px;
  height: 6px;
  background: var(--c-deep-cerise-80);
  top: calc(50% + -85px);
  left: calc(50% + 48px);
  transform-origin: 25px 89px;
  animation: particle-37 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(38),
.particle-hover .particle-spot:nth-of-type(38) {
  width: 6px;
  height: 6px;
  background: var(--c-purple-tech);
  top: calc(50% + 22px);
  left: calc(50% + -99px);
  transform-origin: 62px 57px;
  animation: particle-38 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(39),
.particle-hover .particle-spot:nth-of-type(39) {
  width: 5px;
  height: 5px;
  background: var(--c-light-coral-80);
  top: calc(50% + -57px);
  left: calc(50% + -16px);
  transform-origin: 97px 73px;
  animation: particle-39 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(40),
.particle-hover .particle-spot:nth-of-type(40) {
  width: 6px;
  height: 6px;
  background: var(--c-green-sheen-40);
  top: calc(50% + -67px);
  left: calc(50% + -79px);
  transform-origin: 73px 19px;
  animation: particle-40 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(41),
.particle-hover .particle-spot:nth-of-type(41) {
  width: 7px;
  height: 7px;
  background: var(--c-purple-tech-40);
  top: calc(50% + 4px);
  left: calc(50% + -42px);
  transform-origin: 35px 41px;
  animation: particle-41 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(42),
.particle-hover .particle-spot:nth-of-type(42) {
  width: 6px;
  height: 6px;
  background: var(--c-deep-cerise);
  top: calc(50% + -35px);
  left: calc(50% + 62px);
  transform-origin: 92px 26px;
  animation: particle-42 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(43),
.particle-hover .particle-spot:nth-of-type(43) {
  width: 5px;
  height: 5px;
  background: var(--c-green-sheen-60);
  top: calc(50% + 38px);
  left: calc(50% + 10px);
  transform-origin: 31px 23px;
  animation: particle-43 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(44),
.particle-hover .particle-spot:nth-of-type(44) {
  width: 5px;
  height: 5px;
  background: var(--c-green-sheen-80);
  top: calc(50% + -80px);
  left: calc(50% + -63px);
  transform-origin: 15px 42px;
  animation: particle-44 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(45),
.particle-hover .particle-spot:nth-of-type(45) {
  width: 6px;
  height: 6px;
  background: var(--c-light-coral);
  top: calc(50% + -48px);
  left: calc(50% + 72px);
  transform-origin: 30px 80px;
  animation: particle-45 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(46),
.particle-hover .particle-spot:nth-of-type(46) {
  width: 5px;
  height: 5px;
  background: var(--c-purple-tech);
  top: calc(50% + 100px);
  left: calc(50% + -87px);
  transform-origin: 40px 56px;
  animation: particle-46 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(47),
.particle-hover .particle-spot:nth-of-type(47) {
  width: 6px;
  height: 6px;
  background: var(--c-green-sheen-60);
  top: calc(50% + 65px);
  left: calc(50% + -70px);
  transform-origin: 66px 100px;
  animation: particle-47 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(48),
.particle-hover .particle-spot:nth-of-type(48) {
  width: 5px;
  height: 5px;
  background: var(--c-purple-tech-80);
  top: calc(50% + 29px);
  left: calc(50% + 88px);
  transform-origin: 23px 25px;
  animation: particle-48 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(49),
.particle-hover .particle-spot:nth-of-type(49) {
  width: 6px;
  height: 6px;
  background: var(--c-purple-tech);
  top: calc(50% + -89px);
  left: calc(50% + 60px);
  transform-origin: 11px 23px;
  animation: particle-49 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(50),
.particle-hover .particle-spot:nth-of-type(50) {
  width: 6px;
  height: 6px;
  background: var(--c-light-coral-x2);
  top: calc(50% + 48px);
  left: calc(50% + -22px);
  transform-origin: 61px 47px;
  animation: particle-50 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(51),
.particle-hover .particle-spot:nth-of-type(51) {
  width: 5px;
  height: 5px;
  background: var(--c-deep-cerise-80);
  top: calc(50% + 100px);
  left: calc(50% + -32px);
  transform-origin: 88px 86px;
  animation: particle-51 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(52),
.particle-hover .particle-spot:nth-of-type(52) {
  width: 7px;
  height: 7px;
  background: var(--c-deep-cerise);
  top: calc(50% + -14px);
  left: calc(50% + 10px);
  transform-origin: 69px 37px;
  animation: particle-52 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(53),
.particle-hover .particle-spot:nth-of-type(53) {
  width: 6px;
  height: 6px;
  background: var(--c-purple-tech-40);
  top: calc(50% + 24px);
  left: calc(50% + 22px);
  transform-origin: 96px 78px;
  animation: particle-53 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(54),
.particle-hover .particle-spot:nth-of-type(54) {
  width: 7px;
  height: 7px;
  background: var(--c-light-coral-x2);
  top: calc(50% + -89px);
  left: calc(50% + -37px);
  transform-origin: 26px 92px;
  animation: particle-54 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(55),
.particle-hover .particle-spot:nth-of-type(55) {
  width: 7px;
  height: 7px;
  background: var(--c-deep-cerise-80);
  top: calc(50% + 44px);
  left: calc(50% + -2px);
  transform-origin: 18px 29px;
  animation: particle-55 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(56),
.particle-hover .particle-spot:nth-of-type(56) {
  width: 5px;
  height: 5px;
  background: var(--c-light-coral-80);
  top: calc(50% + 60px);
  left: calc(50% + -76px);
  transform-origin: 23px 45px;
  animation: particle-56 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(57),
.particle-hover .particle-spot:nth-of-type(57) {
  width: 6px;
  height: 6px;
  background: var(--c-deep-cerise);
  top: calc(50% + 76px);
  left: calc(50% + -46px);
  transform-origin: 72px 58px;
  animation: particle-57 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(58),
.particle-hover .particle-spot:nth-of-type(58) {
  width: 7px;
  height: 7px;
  background: var(--c-purple-tech-40);
  top: calc(50% + 67px);
  left: calc(50% + -44px);
  transform-origin: 71px 100px;
  animation: particle-58 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(59),
.particle-hover .particle-spot:nth-of-type(59) {
  width: 7px;
  height: 7px;
  background: var(--c-deep-cerise);
  top: calc(50% + -13px);
  left: calc(50% + -44px);
  transform-origin: 23px 69px;
  animation: particle-59 0.9s linear infinite;
  animation-play-state: paused;
}
.particle .particle-spot:nth-of-type(60),
.particle-hover .particle-spot:nth-of-type(60) {
  width: 6px;
  height: 6px;
  background: var(--c-purple-tech-80);
  top: calc(50% + 81px);
  left: calc(50% + -6px);
  transform-origin: 6px 16px;
  animation: particle-60 0.9s linear infinite;
  animation-play-state: paused;
}
.particle:hover .particle-spot,
.particle-hover:hover .particle-spot {
  animation-play-state: running;
}

.particle .particle-spot {
  animation-play-state: running;
}

@keyframes particle-1 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-1px, -9px);
    opacity: 0.7;
  }
}
@keyframes particle-2 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-3px, -19px);
    opacity: 0.7;
  }
}
@keyframes particle-3 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(14px, -7px);
    opacity: 0.7;
  }
}
@keyframes particle-4 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(1px, -16px);
    opacity: 0.7;
  }
}
@keyframes particle-5 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(16px, -13px);
    opacity: 0.7;
  }
}
@keyframes particle-6 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(2px, 6px);
    opacity: 0.7;
  }
}
@keyframes particle-7 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-17px, 15px);
    opacity: 0.7;
  }
}
@keyframes particle-8 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-8px, 11px);
    opacity: 0.7;
  }
}
@keyframes particle-9 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(15px, -4px);
    opacity: 0.7;
  }
}
@keyframes particle-10 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(0px, -7px);
    opacity: 0.7;
  }
}
@keyframes particle-11 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(1px, 11px);
    opacity: 0.7;
  }
}
@keyframes particle-12 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-7px, 15px);
    opacity: 0.7;
  }
}
@keyframes particle-13 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(7px, -3px);
    opacity: 0.7;
  }
}
@keyframes particle-14 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-10px, 7px);
    opacity: 0.7;
  }
}
@keyframes particle-15 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(15px, -18px);
    opacity: 0.7;
  }
}
@keyframes particle-16 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-7px, 14px);
    opacity: 0.7;
  }
}
@keyframes particle-17 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-2px, 13px);
    opacity: 0.7;
  }
}
@keyframes particle-18 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(20px, -5px);
    opacity: 0.7;
  }
}
@keyframes particle-19 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-11px, -9px);
    opacity: 0.7;
  }
}
@keyframes particle-20 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-6px, -19px);
    opacity: 0.7;
  }
}
@keyframes particle-21 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(1px, -9px);
    opacity: 0.7;
  }
}
@keyframes particle-22 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(19px, -5px);
    opacity: 0.7;
  }
}
@keyframes particle-23 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-3px, 18px);
    opacity: 0.7;
  }
}
@keyframes particle-24 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-8px, -8px);
    opacity: 0.7;
  }
}
@keyframes particle-25 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-14px, -1px);
    opacity: 0.7;
  }
}
@keyframes particle-26 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(12px, 11px);
    opacity: 0.7;
  }
}
@keyframes particle-27 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-16px, -19px);
    opacity: 0.7;
  }
}
@keyframes particle-28 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(5px, -1px);
    opacity: 0.7;
  }
}
@keyframes particle-29 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-7px, -13px);
    opacity: 0.7;
  }
}
@keyframes particle-30 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-16px, 0px);
    opacity: 0.7;
  }
}
@keyframes particle-31 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(7px, -16px);
    opacity: 0.7;
  }
}
@keyframes particle-32 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(1px, 11px);
    opacity: 0.7;
  }
}
@keyframes particle-33 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-5px, -14px);
    opacity: 0.7;
  }
}
@keyframes particle-34 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(1px, 6px);
    opacity: 0.7;
  }
}
@keyframes particle-35 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-17px, -15px);
    opacity: 0.7;
  }
}
@keyframes particle-36 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(16px, -16px);
    opacity: 0.7;
  }
}
@keyframes particle-37 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(10px, 16px);
    opacity: 0.7;
  }
}
@keyframes particle-38 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(4px, -5px);
    opacity: 0.7;
  }
}
@keyframes particle-39 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-2px, 20px);
    opacity: 0.7;
  }
}
@keyframes particle-40 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(3px, 2px);
    opacity: 0.7;
  }
}
@keyframes particle-41 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-15px, 1px);
    opacity: 0.7;
  }
}
@keyframes particle-42 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-4px, 12px);
    opacity: 0.7;
  }
}
@keyframes particle-43 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-15px, 8px);
    opacity: 0.7;
  }
}
@keyframes particle-44 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(8px, 9px);
    opacity: 0.7;
  }
}
@keyframes particle-45 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(4px, -7px);
    opacity: 0.7;
  }
}
@keyframes particle-46 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(8px, -9px);
    opacity: 0.7;
  }
}
@keyframes particle-47 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(13px, 14px);
    opacity: 0.7;
  }
}
@keyframes particle-48 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(5px, -18px);
    opacity: 0.7;
  }
}
@keyframes particle-49 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(7px, 19px);
    opacity: 0.7;
  }
}
@keyframes particle-50 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(17px, -11px);
    opacity: 0.7;
  }
}
@keyframes particle-51 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(0px, 7px);
    opacity: 0.7;
  }
}
@keyframes particle-52 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(11px, 10px);
    opacity: 0.7;
  }
}
@keyframes particle-53 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(9px, -11px);
    opacity: 0.7;
  }
}
@keyframes particle-54 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-12px, 3px);
    opacity: 0.7;
  }
}
@keyframes particle-55 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(11px, 5px);
    opacity: 0.7;
  }
}
@keyframes particle-56 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-16px, -11px);
    opacity: 0.7;
  }
}
@keyframes particle-57 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(16px, -6px);
    opacity: 0.7;
  }
}
@keyframes particle-58 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-9px, -11px);
    opacity: 0.7;
  }
}
@keyframes particle-59 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(-6px, 11px);
    opacity: 0.7;
  }
}
@keyframes particle-60 {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    transform: translate(11px, 3px);
    opacity: 0.7;
  }
}

/*# sourceMappingURL=animations.css.map */



