/* -----------------------------------------
   COLOR VARIABLES
------------------------------------------ */
:root {
  --c-deep-cerise: #FF2C8D;
  --c-deep-cerise-80: #FF509C;
  --c-deep-cerise-60: #FF71AA;
  --c-deep-cerise-40: #FFC3dc;
  --c-deep-cerise-20: #FFE5F3;

  --c-light-coral-x3: #E7100C;
  --c-light-coral-x2: #E5403D;
  --c-light-coral: #F57371;
  --c-light-coral-80: #FFA3A1;
  --c-light-coral-60: #FFD9D9;

  --c-green-sheen: #68ACA3;
  --c-green-sheen-80: #75D9CB;
  --c-green-sheen-60: #4DEAD5;
  --c-green-sheen-40: #7DFFEE;
  --c-green-sheen-20: #BDFFF6;

  --c-purple-tech: #542A71;
  --c-purple-tech-80: #7D4C9F;
  --c-purple-tech-60: #AB7BCC;
  --c-purple-tech-40: #D4ACF0;
  --c-purple-tech-20: #F4E4FF;

  --c-violet-void: #09041B;
  --c-violet-void-80: #1a0d4e;
  --c-violet-void-60: #2c1d70;
  --c-violet-void-40: #644FB9;
  --c-violet-void-20: #C2B2FF;


}